

.menu {
    display:flex;
    justify-content: space-between;
    width: 100%;
    height:50px;
    align-items: center;
    border-bottom: 1px solid gray;
}

.input-menu {
    border-radius: 30px;
}