
.newsletter {
    background-color: #f2f4f5;
    text-align: center;
   padding: 20px;
}

.newsletter h2 {
    font-size: 24px;
    padding-bottom: 5px;
}

.group input,
.group button {
    display: inline-block;
    border-width: 0;
    font-size: 13px;
    padding-bottom: 10px;
    margin-top: 10px;
    padding: 5px;

}

.group button {
    background-color: coral;
    color: white;
   padding: 5px;

}
